@keyframes strike {
  0% {
    transform-origin: 0% 50%;
    transform: scaleX(0); }
  50% {
    transform-origin: 0% 50%;
    transform: scaleX(1); }
  50.01% {
    transform-origin: 100% 50%;
    transform: scaleX(1); }
  100% {
    transform-origin: 100% 50%;
    transform: scaleX(0); } }

@-webkit-keyframes strike {
  0% {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  50% {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  50.01% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

body {
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
  color: #222222;
  overflow-x: hidden; }
  body main {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 0 24px;
    margin-bottom: 80px;
    min-height: 100vh; }
    body main .wrapper {
      max-width: 700px;
      width: 100%; }
      @media screen and (min-width: 1400px) {
        body main .wrapper {
          max-width: 800px; } }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-weight: 700;
    margin: 0;
    font-family: "Poppins", sans-serif; }
  body h1 {
    font-size: 9vw;
    line-height: 1.1; }
    @media screen and (min-width: 700px) {
      body h1 {
        font-size: 64px; } }
    @media screen and (min-width: 1400px) {
      body h1 {
        font-size: 80px; } }
  body h2 {
    font-size: 32px;
    margin: 40px 0 8px 0; }
  body h3 {
    font-size: 24px;
    margin: 32px 0 8px 0;
    font-weight: 600; }
  body p {
    line-height: 1.5; }
    @media screen and (min-width: 1400px) {
      body p {
        font-size: 21px;
        line-height: 1.7; } }
  body span.weight {
    font-weight: 700; }
  body span.emphasis {
    font-style: italic; }
  body a {
    text-decoration: none;
    color: #222222;
    transition: color .2s ease-in-out;
    position: relative; }
    body a:after {
      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -2px;
      border-width: 0 0 1px;
      border-style: solid;
      border-color: #222222;
      transition: color .2s ease-in-out; }
    body a:hover {
      color: rgba(34, 34, 34, 0.75); }
      body a:hover:after {
        border-color: rgba(34, 34, 34, 0.75); }

@keyframes strike {
  0% {
    transform-origin: 0% 50%;
    transform: scaleX(0); }
  50% {
    transform-origin: 0% 50%;
    transform: scaleX(1); }
  50.01% {
    transform-origin: 100% 50%;
    transform: scaleX(1); }
  100% {
    transform-origin: 100% 50%;
    transform: scaleX(0); } }
    body a.effect.alt:hover {
      color: rgba(255, 255, 255, 0.75); }
      body a.effect.alt:hover:after {
        background: white; }
    body a.effect:hover {
      text-decoration: none;
      color: rgba(34, 34, 34, 0.75); }
      body a.effect:hover:after {
        content: ' ';
        position: absolute;
        top: 50%;
        height: 2px;
        background: #222222;
        animation: strike .75s ease-in-out forwards;
        left: -8px;
        width: calc(100% + 16px); }
    body a.btn {
      border: 3px solid #222222;
      background: transparent;
      overflow: hidden;
      width: auto;
      outline: none;
      display: inline-block;
      transition: all .3s ease-in-out;
      font-family: "Poppins", sans-serif; }
      body a.btn:hover {
        background: #222222;
        color: white; }
        body a.btn:hover span {
          color: white; }
      body a.btn:after, body a.btn:before {
        border: none;
        box-sizing: border-box;
        margin: 0;
        padding: 0; }
      body a.btn span {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        color: #222222;
        display: block;
        user-select: none;
        position: relative;
        overflow: hidden;
        padding: 8px 18px; }
        body a.btn span:hover {
          cursor: pointer; }

.header, .footer {
  display: flex;
  justify-content: center;
  transition: background .2s ease-in-out;
  align-items: center;
  padding: 0 24px;
  font-family: "Poppins", sans-serif; }

.header {
  background: rgba(248, 248, 248, 0);
  padding: 0 0 0 24px; }
  @media screen and (min-width: 550px) {
    .header {
      height: 80px;
      padding: 0 24px; }
      .header:hover {
        background: #f8f8f8; } }

.footer {
  flex-direction: column;
  background: #222222;
  color: white;
  min-height: 200px; }
  .footer .list {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0 24px;
    transition: background .2s ease-in-out; }
    .footer .list:hover {
      background: #181818; }
    .footer .list .footer-menu {
      align-items: center; }
      .footer .list .footer-menu a.logo {
        padding: 0; }
      .footer .list .footer-menu .menu {
        padding-top: 0; }
    .footer .list a.alt {
      padding: 12px; }
      @media screen and (min-width: 350px) {
        .footer .list a.alt {
          padding: 16px; } }
      @media screen and (min-width: 650px) {
        .footer .list a.alt {
          padding: 8px;
          margin: 16px; } }
      .footer .list a.alt span.text {
        display: none; }
        @media screen and (min-width: 650px) {
          .footer .list a.alt span.text {
            display: block; } }
      .footer .list a.alt span.icon {
        display: block; }
        @media screen and (min-width: 650px) {
          .footer .list a.alt span.icon {
            display: none; } }
        .footer .list a.alt span.icon i {
          font-size: 16px; }
  .footer .call-to-action {
    width: 100%;
    max-width: 700px;
    padding: 64px 24px; }
    @media screen and (min-width: 550px) {
      .footer .call-to-action {
        padding: 120px 0; } }
    @media screen and (min-width: 1400px) {
      .footer .call-to-action {
        max-width: 800px; } }
    .footer .call-to-action span.break {
      display: block;
      height: 1px;
      background: white;
      width: 100%; }
      .footer .call-to-action span.break:first-child {
        margin-bottom: 48px; }
    .footer .call-to-action h3 {
      font-size: 7vw;
      margin-bottom: 12px; }
      @media screen and (min-width: 700px) {
        .footer .call-to-action h3 {
          font-size: 52px; } }
    .footer .call-to-action a.mail {
      color: white;
      margin-bottom: 48px;
      display: inline-block; }

.main-menu, .footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px; }
  .main-menu a.logo, .footer-menu a.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    padding-top: 26px; }
    .main-menu a.logo:after, .footer-menu a.logo:after {
      border: none; }
    @media screen and (min-width: 550px) {
      .main-menu a.logo, .footer-menu a.logo {
        height: auto;
        padding: 0; } }
    .main-menu a.logo img, .footer-menu a.logo img {
      height: 24px;
      width: auto; }
  .main-menu .menu, .footer-menu .menu {
    padding-top: 20px; }
    @media screen and (min-width: 550px) {
      .main-menu .menu, .footer-menu .menu {
        padding: 0; } }
    .main-menu .menu ul, .footer-menu .menu ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column; }
      .main-menu .menu ul.row, .footer-menu .menu ul.row {
        flex-direction: row; }
      @media screen and (min-width: 550px) {
        .main-menu .menu ul, .footer-menu .menu ul {
          flex-direction: row; } }
      .main-menu .menu ul li, .footer-menu .menu ul li {
        display: inline-block; }
        .main-menu .menu ul li a, .footer-menu .menu ul li a {
          padding: 16px 24px;
          color: #222222;
          font-size: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: 600;
          position: relative;
          transition: color .2s ease-in-out;
          display: block;
          text-align: right; }
          .main-menu .menu ul li a:after, .footer-menu .menu ul li a:after {
            border: none; }
          .main-menu .menu ul li a.active:after, .footer-menu .menu ul li a.active:after {
            content: ' ';
            position: absolute;
            height: 2px;
            background: black;
            left: -8px;
            width: calc(100% + 16px);
            top: 47%; }
          @media screen and (min-width: 550px) {
            .main-menu .menu ul li a, .footer-menu .menu ul li a {
              padding: 8px;
              margin: 16px; } }
          .main-menu .menu ul li a.alt, .footer-menu .menu ul li a.alt {
            color: white; }
            .main-menu .menu ul li a.alt:hover, .footer-menu .menu ul li a.alt:hover {
              color: rgba(255, 255, 255, 0.75); }
              .main-menu .menu ul li a.alt:hover:after, .footer-menu .menu ul li a.alt:hover:after {
                background: white; }

@keyframes strike {
  0% {
    transform-origin: 0 50%;
    transform: scaleX(0); }
  50% {
    transform-origin: 0 50%;
    transform: scaleX(1); }
  50.01% {
    transform-origin: 100% 50%;
    transform: scaleX(1); }
  100% {
    transform-origin: 100% 50%;
    transform: scaleX(0); } }
          .main-menu .menu ul li a:hover, .footer-menu .menu ul li a:hover {
            text-decoration: none;
            color: rgba(34, 34, 34, 0.75); }
            .main-menu .menu ul li a:hover:after, .footer-menu .menu ul li a:hover:after {
              content: ' ';
              position: absolute;
              height: 2px;
              background: black;
              animation: strike 1s ease-in-out forwards;
              left: -8px;
              top: 47%;
              width: calc(100% + 16px); }

section.hero {
  margin-bottom: 120px; }
  @media screen and (min-width: 1700px) {
    section.hero {
      min-height: 75vh;
      margin-bottom: 0; } }
  section.hero.alt {
    margin-bottom: 80px;
    min-height: auto; }
    section.hero.alt p {
      margin-bottom: 40px; }
    section.hero.alt span.break {
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba(34, 34, 34, 0.16); }
  section.hero h1 {
    padding: 64px 0 24px 0;
    max-width: 720px; }
    @media screen and (min-width: 550px) {
      section.hero h1 {
        padding: 120px 0 64px 0; } }
    @media screen and (min-width: 1400px) {
      section.hero h1 {
        font-size: 64px; } }
  section.hero p {
    font-size: 16px; }
    @media screen and (min-width: 1400px) {
      section.hero p {
        font-size: 21px; } }
    section.hero p a {
      font-weight: 600; }
  section.hero span.break {
    display: none; }

section.introduction .case-study {
  background: #f6f6f6;
  padding: 24px;
  display: flex;
  flex-direction: row; }
  section.introduction .case-study .image {
    width: 40%;
    margin-right: 24px; }
    section.introduction .case-study .image img {
      width: 100%;
      height: auto; }
  section.introduction .case-study .excerpt {
    width: 60%; }
    section.introduction .case-study .excerpt p {
      margin-top: 0; }

section.content .area {
  margin-bottom: 80px; }
  section.content .area.books {
    display: flex;
    flex-wrap: wrap; }
    @media screen and (max-width: 719px) {
      section.content .area.books {
        justify-content: center; } }
    section.content .area.books h2 {
      width: 100%;
      margin-bottom: 16px; }

section.content .container-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px 0;
  font-family: "Poppins", sans-serif; }
  @media screen and (min-width: 700px) {
    section.content .container-items {
      flex-direction: row; } }
  section.content .container-items .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 24px; }
    @media screen and (min-width: 700px) {
      section.content .container-items .item {
        margin-bottom: 0;
        width: 32%; } }

section.content h3 {
  display: flex;
  flex-direction: row;
  align-items: center; }
  section.content h3:before {
    content: '';
    width: 24px;
    height: 4px;
    background: #222222;
    display: block;
    margin-right: 12px; }

section.content p {
  margin-top: 0; }
  section.content p.source {
    font-size: 14px;
    margin-bottom: 24px; }

section.content ul {
  font-size: 21px; }
  section.content ul li {
    margin-bottom: 12px; }
  section.content ul.images {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 0 24px 0;
    padding: 0; }
    @media screen and (min-width: 550px) {
      section.content ul.images {
        flex-direction: row;
        justify-content: flex-start;
        padding: 24px 0; } }
    section.content ul.images li {
      display: inline-flex;
      max-height: 150px;
      width: 120px;
      margin-right: 16px;
      padding: 16px 0; }
      @media screen and (min-width: 550px) {
        section.content ul.images li {
          padding: 0; } }
      section.content ul.images li img {
        max-width: 150px;
        max-height: 80px;
        width: 100%;
        height: auto; }
  section.content ul.list {
    padding-left: 20px; }
    section.content ul.list li {
      margin-bottom: 12  px; }
      section.content ul.list li h3 a:after {
        border: none; }
  section.content ul.number-list {
    list-style-type: upper-roman;
    font-size: 16px;
    margin-top: 0; }
    @media screen and (min-width: 1400px) {
      section.content ul.number-list {
        font-size: 18px; } }
    section.content ul.number-list li {
      margin-bottom: 12px; }

section.content .large-image {
  width: 100%; }
  section.content .large-image img {
    width: 100%;
    height: auto; }

section.work-list {
  display: none; }
  @media screen and (min-width: 550px) {
    section.work-list {
      display: block;
      margin-bottom: 120px; } }
  section.work-list ul.images {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0; }
    section.work-list ul.images li {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      max-height: 50px;
      width: auto;
      padding: 0; }
      section.work-list ul.images li img {
        max-width: 100px;
        max-height: 50px;
        width: 100%;
        height: auto; }

.book {
  display: inline-flex;
  width: 200px;
  height: 300px;
  margin: 0 24px 40px 0;
  padding: 0;
  background: #333;
  transform: translate3d(0, 0, 0); }
  .book a {
    border-bottom: 1px solid #8a8a8a; }
    .book a:after {
      border: none; }

.book ul {
  display: block;
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  perspective-origin: 0 50%;
  perspective: 800px;
  -webkit-transform: translate3d(0, 0, 0); }

.book ul > li {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 300px;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #ffffff 0%, #000000 20%, #000000 90%, #ededed 100%);
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.25, 1); }

.cover {
  z-index: 2 !important;
  display: block;
  width: 200px;
  height: 300px;
  background: #333 !important;
  transform: rotateY(0deg) translateZ(0px);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); }

.page1 {
  display: none;
  transform: rotateY(20deg) translateZ(-1px); }

.page2 {
  display: none;
  transform: rotateY(30deg) translateZ(-2px); }

.page3 {
  display: none;
  transform: rotateY(40deg) translateZ(-3px); }

.book:hover .page1 {
  transform: rotateY(-34deg); }

.book:hover .page2 {
  transform: rotateY(-27deg); }

.book:hover .page3 {
  transform: rotateY(-15deg); }

.book:hover .cover {
  transform: rotateY(-40deg); }

#masonry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vw;
  max-height: 800px;
  max-width: 600px;
  font-size: 0; }
  #masonry img {
    width: 25%;
    transition: .8s opacity;
    margin: 12px; }
    @media screen and (min-width: 695px) {
      #masonry img {
        width: 33.3%; } }
  #masonry:hover img {
    opacity: .3; }
    #masonry:hover img:hover {
      opacity: 1; }

/* fallback for earlier versions of Firefox */
@supports not (flex-wrap: wrap) {
  div#masonry {
    display: block; }
  div#masonry img {
    display: inline-block;
    vertical-align: top; } }

.container-items .item {
  text-align: center; }
  .container-items .item .name {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 4px; }
  .container-items .item .career {
    font-size: 12px;
    margin-bottom: 16px; }
  .container-items .item .container-info {
    background: #f6f6f6;
    padding-bottom: 16px;
    text-align: left; }
    .container-items .item .container-info p {
      font-size: 14px;
      margin: 0; }
    .container-items .item .container-info .photo {
      height: 200px;
      overflow: hidden;
      margin-bottom: 16px; }
      @media screen and (min-width: 700px) {
        .container-items .item .container-info .photo {
          height: 130px; } }
      .container-items .item .container-info .photo img {
        width: 100%;
        height: auto; }
    .container-items .item .container-info .type, .container-items .item .container-info .age, .container-items .item .container-info .focus, .container-items .item .container-info .from {
      margin-bottom: 12px;
      padding: 0 16px; }
    .container-items .item .container-info .looking-for {
      padding: 0 16px; }

.container-scenario {
  padding: 8px;
  border: 2px dashed #222222;
  opacity: .3; }
  .container-scenario.focus {
    opacity: 1; }
  .container-scenario .scenario {
    background: #f6f6f6;
    padding: 24px; }
    .container-scenario .scenario h3 {
      margin: 0 0 24px 0; }
      .container-scenario .scenario h3:before {
        display: none; }
    .container-scenario .scenario .compare {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 24px; }
      .container-scenario .scenario .compare ul.first, .container-scenario .scenario .compare ul.second {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        .container-scenario .scenario .compare ul.first li, .container-scenario .scenario .compare ul.second li {
          margin-bottom: 8px; }
      .container-scenario .scenario .compare ul.second li i.fa-check {
        color: #00ab00; }
      .container-scenario .scenario .compare ul.second li i.fa-times {
        color: #bd0000; }
    .container-scenario .scenario .action {
      background: #222222;
      color: white;
      padding: 12px;
      font-family: "Poppins", sans-serif; }
