section {
  &.content {
    .area {
      margin-bottom: 80px;

      &.books {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: 719px) {
          justify-content: center;
        }

        h2 {
          width: 100%;
          margin-bottom: 16px;
        }
      }
    }

    .container-items {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 24px 0;
      font-family: $font-family-headings;

      @media screen and (min-width: 700px) {
        flex-direction: row;
      }

      .item {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin-bottom: 24px;

        @media screen and (min-width: 700px) {
          margin-bottom: 0;
          width: 32%;
        }
      }
    }

    h3 {
      display: flex;
      flex-direction: row;
      align-items: center;

      &:before {
        content: '';
        width: 24px;
        height: 4px;
        background: $black;
        display: block;
        margin-right: 12px;
      }
    }

    p {
      margin-top: 0;

      &.source {
        font-size: 14px;
        margin-bottom: 24px;
      }
    }

    ul {
      font-size: 21px;

      li {
        margin-bottom: 12px;
      }

      &.images {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0 0 24px 0;
        padding: 0;

        @media screen and (min-width: 550px) {
          flex-direction: row;
          justify-content: flex-start;
          padding: 24px 0;
        }

        li {
          display: inline-flex;
          max-height: 150px;
          width: 120px;
          margin-right: 16px;
          padding: 16px 0;

          @media screen and (min-width: 550px) {
            padding: 0;
          }

          img {
            max-width: 150px;
            max-height: 80px;
            width: 100%;
            height: auto;
          }
        }
      }

      &.list {
        padding-left: 20px;

        li {
          margin-bottom: 12px;

          h3 {
            a {
              &:after {
                border: none;
              }


            }
          }
        }
      }

      &.number-list {
        list-style-type: upper-roman;
        //list-style-type: decimal;
        font-size: 16px;
        margin-top: 0;

        @media screen and (min-width: 1400px) {
          font-size: 18px;
        }

        li {
          margin-bottom: 12px;
        }
      }
    }

    .large-image {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .images-2 {
      width: 100%;
      display: flex;
      flex-direction: column;

      img {
        margin-bottom: 16px;
        width: 100%;
      }
    }

    @media screen and (min-width: 800px) {
      .images-2 {
        flex-direction: row;
        justify-content: space-between;
  
        img {
          max-width: 335px;
          margin-bottom: 0;
        }
      }
    }

    span {
      &.image-source {
        font-size: 12px;
        margin-top: 8px; 
        margin-bottom: 40px; 
        display: block;
        width: 100%;
      } 
    }
  }
}
