section {
  &.hero {
    margin-bottom: 120px;

    @media screen and (min-width: 1700px) {
      min-height: 75vh;
      margin-bottom: 0;
    }

    &.alt {
      margin-bottom: 80px;
      min-height: auto;

      p {
        margin-bottom: 40px;
      }

      span {
        &.break {
          display: block;
          width: 100%;
          height: 1px;
          background-color: rgba($black, .16);
        }
      }
    }

    h1 {
      padding: 64px 0 24px 0;
      max-width: 720px;

      @media screen and (min-width: 550px) {
        padding: 120px 0 64px 0;
      }

      @media screen and (min-width: 1400px) {
        font-size: 64px;
      }
    }

    p {
      font-size: 16px;

      @media screen and (min-width: 1400px) {
        font-size: 21px;
      }

      a {
        font-weight: 600;
      }
    }

    span {
      &.break {
        display: none;
      }
    }
  }
}
