.main-menu, .footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px; 

  a.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    padding-top: 26px;

    &:after {
      border: none;
    }

    @media screen and (min-width: 550px) {
      height: auto;
      padding: 0;
    }

    img {
      height: 24px;
      width: auto;
    }
  }

  .menu {
    padding-top: 20px;

    @media screen and (min-width: 550px) {
      padding: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;

      &.row {
        flex-direction: row;
      }

      @media screen and (min-width: 550px) {
        flex-direction: row;
      }

      li {
        display: inline-block;

        a {
          text-decoration: none;
          padding: 16px 24px;
          color: $black;
          font-size: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: 600;
          position: relative;
          transition: color .2s ease-in-out;
          display: block;
          text-align: right;

          &:after {
            border: none;
          }

          &.active {
            &:after {
              content: ' ';
              position: absolute;
              //top: 50%;
              height: 2px;
              background: black;
              left: -8px;
              width: calc(100% + 16px);
              top: 47%;
            }
          }

          @media screen and (min-width: 550px) {
            padding: 8px;
            margin: 16px;
          }

          &.alt {
            color: $white;

            &:hover {
              color: rgba($white, .75);

              &:after {
                background: $white;
              }
            }
          }

          @keyframes strike {
            0%     { transform-origin:  0 50%;transform:scaleX(0); }
            50%    { transform-origin:  0 50%;transform:scaleX(1);  }
            50.01% { transform-origin:100% 50%;transform:scaleX(1);  }
            100%   { transform-origin:100% 50%;transform:scaleX(0);  }
          }

          &:hover {
            text-decoration: none;
            color: rgba($black, .75);

            &:after {
              content: ' ';
              position: absolute;
              //top: 50%;
              height: 2px;
              background: black;
              animation: strike 1s ease-in-out forwards;
              left: -8px;
              top: 47%;
              width: calc(100% + 16px);
            }
          }
        }
      }
    }
  }
}
